<div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4" id="jumbo-head">Sports Update</h1>
        </div>
      </div>

      <div class="container">
          <div class="row">
              <div class="col-lg-8" id="saved">

              </div>

              <div class="col-lg-4" id="comment">

              </div>
          </div>
      </div>